<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badminton Footwork Practice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body> -->
    {% extends "base.html" %}
    {% block title %}Badminton Footwork Practice{% endblock %}
    {% block content %}
    <div class="court">
        <img src="{{ url_for('static', filename='images/court.png') }}" alt="Badminton Court Image" class="court-image">
        <!-- 6 squares with IDs square1 to square6 -->
        <div class="square" id="square1"></div>
        <div class="square" id="square2"></div>
        <div class="square" id="square3"></div>
        <div class="square" id="square4"></div>
        <div class="square" id="square5"></div>
        <div class="square" id="square6"></div>
    </div>
    <div class="controls">
        <label for="duration">Duration (seconds):</label>
        <input type="number" id="duration" min="1" value="60">
        <label for="interval">Interval (milliseconds):</label>
        <input type="number" id="interval" min="100" value="1000">
        <button id="start-button">Start</button>
    </div>
    <div class="countdown" id="countdown"></div>
    <div class="output" id="output"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
<!-- </body>
</html> -->




<!-- I want to build a website that help badminton player practice their footwork:

)the website should also ask the user, how long (duration in seconds) they want to practice for and what is the interval (in miliseconds) to generate the random number
) the total random number to generate will be how long (duration in seconds) the user want to practice times the interval (converted to seconds), put this in a list
) display a countdown in format mm:ss:mmm for the interval in miliseconds, this function is called before each time a number is displayed and resets

) the range of numbers to generate will be between 1 to 6
) there are 6 squares displayed, 2 columns, 3 rows. the order of squares corresponse to the numbers are
- 1 top left, 2 top right, 3 middle left, 4 middle right, 5 bottom left, 6 bottom right
- the boxes shoud be 200 by 200px, and white light gray colour with border in black

) the list of random numbers will be parsed through to light up each both according to the respective number above
) display each number from the list to the website as they get looped through -->

